<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalFormTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nouveau compte</h5>
            <button type="button" class="close mr-0" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body text-left">
            <h2 class="h3 font-weight-bold">Nouveau compte</h2>
            {{ include('admin/admin_users/_form.html.twig') }}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
               Fermer
            </button>
         </div>
      </div>
   </div>
</div>