<footer>
      <div class="container">
         <div class="section-title">
            <h2>On arrive dans le jeu...</h2>
         </div>
         <div class="row align-items-center">
            <div class="col-6 ml-auto">
               <div class="logo ml-auto">
                  <img src="{{ asset('img/logo-trans.png') }}" class="img-fluid" alt="">
               </div>
            </div>
            <div class="col-4">
               <img src="{{ asset('img/app-store.png') }}" style="width: 80%" class="img-fluid radius" alt="">
            </div>
         </div>

         <div class="copyright">
            <ul class="social" style="margin-left: 20%;">
               <li>
                  <a href="#">
                     <svg style="width: 25px" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                           d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" />
                     </svg>
                  </a>
               </li>
               <li>
                  <a href="#"><i style="font-size: 35px" class="fa fa-instagram" aria-hidden="true"></i></a>
               </li>
               <li>
                  <a href="#"><i style="font-size: 35px" class="fa fa-envelope" aria-hidden="true"></i></a>
               </li>
            </ul>
         </div>
      </div>
   </footer>