<header class="bg-white navbar-fixed">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-xxl navbar-light osahan-nav-mid px-0 border-top">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" id="nav-icon4"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span></span>
            <span></span>
         </button>
         <div class="collapse navbar-collapse bg-green" id="navbarResponsive">
            <a href="#register-section" class="btn bg-rose collapse-btn" id="register" style="font-size: 16px !important; font-weight: bold!important;">Rejoins C +</a>
            <ul class="navbar-nav bg-green p-3">
               <li class="nav-item">
                  <a class="nav-link" href="#section-gametime">
                     <button class="btn bg-white btn-block radius p-3 nav-button" style="font-size: 18px">
                        Juste 2 mecs qui créent une app..
                     </button>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#prestataire-section">
                     <button class="btn bg-white btn-block radius p-3 nav-button" style="font-size: 18px">Pas de prestation sans prestataire</button>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#register-section">
                     <button class="btn bg-white btn-block radius p-3 nav-button" style="font-size: 18px">Rejoins le lancement de C + !</button>
                  </a>
               </li>
            </ul>
            <div class="radius-bottom" style="height: 40px !important;"></div>
            <footer style="padding: 25% 0 0;">
              <div class="container">
                 <div class="section-title" style="width: 100%; padding-bottom: 10px">
                    <h2 style="padding: 0 0 0 0px;">On arrive dans le jeu...</h2>
                 </div>
                 <div class="row align-items-center">
                    <div class="col-6 ml-auto">
                       <div class="logo ml-auto">
                          <img src="{{ asset('img/logo-trans.png') }}" class="img-fluid" alt="">
                       </div>
                    </div>
                    <div class="col-4">
                       <img src="{{ asset('img/app-store.png') }}" style="width: 80%" class="img-fluid radius" alt="">
                    </div>
                 </div>
        
                 <div class="copyright" style="margin-top: 10px">
                    <ul class="social" style="margin-left: 20%;">
                       <li>
                          <a href="#">
                             <svg style="width: 25px" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                   d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" />
                             </svg>
                          </a>
                       </li>
                       <li>
                          <a href="#"><i style="font-size: 35px" class="fa fa-instagram" aria-hidden="true"></i></a>
                       </li>
                       <li>
                          <a href="#"><i style="font-size: 35px" class="fa fa-envelope" aria-hidden="true"></i></a>
                       </li>
                    </ul>
                 </div>
              </div>
           </footer>
         </div>
      </nav>

      <div class="container mb-0 pb-0 bottomNav">
         <div class="row text-center d-flex align-items-center">
            <div class="col-5">
               <a href="" class="">
                  <img src="{{ asset('img/app-store.png') }}" class="img-fluid">
               </a>
            </div>
            <div class="col-2 p-0 text-center">
               <div class="bloc-logo bg-green rounded-circle text-center">
                  <img src="{{ asset('img/logo.png') }}" style="width: 90%" class="" alt="">
               </div>
            </div>
            <div class="col-5">
               <a href="#register-section" class="btn btn-rose btn-block h-100">Rejoins C +</a>
            </div>
         </div>
      </div>
   </header>