{% extends 'admin.html.twig' %}

{% block title %}Liste d'attente{% endblock %}

{% block body %}

{% include "admin/admin_convertis/composants/_nav.html.twig" %}

{% if cancontact == true %}
<div class="card mb-3">
   <div class="card-body">
      {{ form_start(formMessage) }}
      <label for="">Envoyez ce message {{ liste }}</label>
      {{ form_widget(formMessage.contenu, {attr: {value: 'bonjour'}}) }} <br>
      <div class="text-end">
         <button type="submit" class="btn btn-primary"><i class="icon-send"></i> Envoyer</button>
      </div>
      {{ form_end(formMessage) }}
   </div>
</div>
{% endif %}

{% include "admin/admin_convertis/_table.html.twig" %}

{% endblock %}